

nav{
  background-color: rgb(0,0,0,.03);
}



.header {
  background-image: url('images/chocolatewilly.jpeg'); 
  
  background-size: cover;
  width: 100%;
  height: 500px;
}


.forspace {
  height:200px;
}






.plans-container .collection {
  border: none;
}
.plans-container .collection .collection-item {
  border-bottom: none;
  text-align: center;
  font-size: 1.07rem;
  line-height: 1.6em;
}
.plans-container .collection .collection-item:before {  
  font-size: 1.28rem;  
  line-height: 1.6em;
  color: #009315;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  content: "\e623";
  margin-right: 10px;
}
.plans-container .card .card-image {
  position: relative;
  width: 100%;
}
.plans-container .card .card-image .card-title {
  position: relative;
  font-size: 1.28rem;
  line-height: 1.6em;
  text-align: center;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
}
.plans-container .card .card-image .price {
  position: relative;
  font-size: 5rem;
  line-height: 1.6em;
  color: #fff;
  font-weight: 300;
  text-align: center;
}
.plans-container .card .card-image .price sup {
  font-weight: 100;
  font-size: 1.42rem;
  line-height: 1.6em;
  top: -35px;
}
.plans-container .card .card-image .price sub {
  font-weight: 100;
  font-size: 1.42rem;
  line-height: 1.6em;
  top: 0px;
}
.plans-container .card .card-image .price-desc {
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}
.plans-container .card .card-content {
  padding: 0;
}/*
@media screen and (min-width: 601px) {
  .plans-container .card {
    min-height: 550px;
  }
}*/
